.container{
    margin-top: 40px;
    min-height: 200px;
}
.wrapper{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.category{
    padding: 20px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #c6c2c2;
    border-radius: 10px;
    cursor: pointer;
}
