.about{
    background-color: #0B131E;
    height: 100vh;
    width: 100%;
    padding: 10px;
    color: white;
}
.info{
    margin-left: 300px;
    margin-top:150px;
    height:auto
}
.info h1{
    margin-bottom: 10px;
}
.info h2{
    display: flex;
    gap:20px;
    margin-bottom: 10px;
}