.container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 100vh;
    width: 100%;
}
.quillContainer{
    padding: 10px;
}
.quillContent{
    height:42vh;
    padding: 10px;
}
.postContainer{
    display: flex;
    justify-content: flex-end;
}